# This workflow will install Python dependencies, run tests and lint with a single version of Python
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-python-with-github-actions

name: Python package

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:

    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: [2.7, 3.9]

    steps:
    - uses: actions/checkout@v2

    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v2
      with:
        python-version: ${{ matrix.python-version }}

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install flake8==3.6.0 pyzmq==17.1.2 pytest==4.0.1 requests_mock==1.5.2
        pip install .

    - name: Lint with flake8
      run: |
        flake8 --isolated --show-source --ignore=C901,E128,E201,E202,E203,E221,E225,E226,E227,E228,E231,E241,E251,E261,E262,E265,E271,E301,E302,E303,E305,E402,E501,W291,W293,W391 python bin

    - name: Test with pytest
      run: |
        pytest
